name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -race -covermode atomic -coverprofile=covprofile.out  ./...
      
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v2
      with:
        version: latest

    - name: Coveralls install goveralls
      run: go get github.com/mattn/goveralls
    
    - name: Coveralls push
      run: goveralls -coverprofile=covprofile.out -service=github
      env:
        COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
